<div class="row">
  <div class="col">
    <form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
      <div>
        <button type="submit" class="btn btn-success mr-3" [disabled]="!recipeForm.valid">Save</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" formControlName="name" placeholder="Recipe Name" />
          </div>
          <div class="form-group">
            <label for="name"></label>
            <input type="text" class="form-control" #image formControlName="imagePath" placeholder="Image Path" />
          </div>
          <div class="form-group">
            <img [src]="image.value" class="img-fluid">
          </div>
          <div class="form-group">
            <label for="name"></label>
            <textarea name="description" formControlName="description" class="form-control"></textarea>
          </div>
          <div class="row" formArrayName="ingredients" *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i =index;">
            <div [formGroupName]="i" class="col">
              <div class="row">
                <div class="col-md-5 form-group">
                  <input type="text" class="form-control form-control-inline" formControlName='name' placeholder="Ingredient Name">
                </div>
                <div class="col-md-5  form-group">
                  <input type="number" class="form-control form-control-inline" formControlName='amount' placeholder="Amount">
                </div>
                <div class="col-md-2  form-group">
                  <button class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
        </div>
      </div>
    </form>
  </div>
