<div class="container text-center" style="margin-top: 120px " *ngIf="recipe? true: false">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid" [src]="recipe?.imagePath" alt="" class="w-100" style="max-height: 15rem">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>{{recipe?.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" [appDropdown]="'show'">
        <button type="button" class="btn btn-primary dropdown-toggle" aria-expanded="false">
          Manage Recipe
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a>
          <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
          <a class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">{{recipe?.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe?.ingredients">{{ingredient.name}} -
          {{ingredient.amount}}</li>
      </ul>
    </div>
  </div>
</div>
