<app-header (headerLinkClicked)="onHeaderLinkClicked($event)"></app-header>
<div class="container-fluid container-margin">
  <!-- <div class="row" *ngIf = "sectionSelected === 'recipe'">
    <div class="col-md-12">
      <app-recipes ></app-recipes>
    </div>
  </div>
  <div class="row" *ngIf = "sectionSelected === 'shopping-list'">
      <div class="col-md-12">
          <app-shopping-list></app-shopping-list>
      </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
